.container {
    height: 104%;
    background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/fs/b1645330482235.562a6163d83d7.jpg');
}

.background-img {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto;
}

.card {
    transition: transform .5s;
    cursor: pointer;
    &::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: opacity 2s cubic-bezier(.165, .84, .44, 1);
        box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .15);
        content: '';
        opacity: 0;
    }
    &:hover,
    &:focus {
        transform: scale3d(1.106, 1.106, 1);
        &::after {
            opacity: 1;
        }
        z-index: 99;
    }
}