.page-container {
    height: 104%;
    background-image: url('../../../assets/img/death_sky.png');
}

.card-container {
    display: flex;
    flex-wrap: no-wrap;
    padding: 0 2% 0 1%;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}

.background-img {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.8;
}

.white {
    color: white;
}

.sidenav-right {
    position: fixed;
    z-index: 9;
    background-color: rgba(255, 255, 255, 0.5);
}

mat-card {
    background-color: rgba(0, 0, 0, 0.7);
    max-height: 90vh;
    height: 90vh;
    width: 50vh;
    color: whitesmoke;
}